.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  color: white;
  background-image: linear-gradient(79deg, #c3c1c5, #34a2aa 48%, #d4d0cd);
}

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #7439db;
}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}

.img-logo {
  width: 5%;
  height: 5%;
}

.navinfo{
  display: flex;
  align-items: center;
}
.logo-label{
  color: white;
  font-size: 2rem;
}
.navbar{
  background-image: linear-gradient(79deg, #28c0c5, #c5c5ce 48%, #1fbcc2);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.auction-page {
  padding: 30px 10px;
}
.auction-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
}

.auction-filter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  min-width: 900px
}

.auction-item-wrapper {
  background-color: black;
  border-radius: 15px;
  padding: 10px;
  margin-top: 30px;
}

.auction-image {
  width: 340px;
  border-radius: 20px;
}

.auction-input-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-around;

}
.auction-name {
  display: flex;
  justify-content: space-around;
}

.auction-input {
  width: 200px;
}

.auction-button {
  padding: 15px;
}

.active {
  background-color: lemonchiffon;
}